<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>
<p>Title:<span><%= @book.title %></span></p>
<p>Body:<span><%= @book.body %></span></p>
<div class="edit">
<%= link_to "Edit", edit_book_path(@book) %>
  </div>
  <div class="back">
  <%= link_to "Back", books_path %>
  </div>